{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <h2 align="center">Add  recipe</h2>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
        <input type="text" name="recipe_name" required class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
          <textarea class="form-control" name="recipe_description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Recipe Image : </label>
          <input type="file" name="recipe_image" class="form-control">
      </div>

      <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>

    <hr>
    <div class="mt-5">
        <div class="mx-auto col-6">
            <form>
                <div class="container mb-3" align="center">
                    <label class="form-label">Search Food</label>
                    <input name="search" type="text" class="form-control">
                    <button type="submit" class="btn btn-primary">Search by Name</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <hr>
    <table class="container" align="center ">
        <thead align="center">
            <tr>
                <td>SL no.</td>
                <td>Recipe Name</td>
                <td>Recipe Description</td>
                <td>Image</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody align="center">
        {% for recipe in recipes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ recipe.recipe_name }}</td>
                <td>{{ recipe.recipe_description }}</td>
                <td>
                    <img src="/media/{{ recipe.recipe_image }}" style="height: 90px; width: 90px"/>
                </td>
                <td>
                    <a href="update-recipe/{{ recipe.id }}" class="btn btn-success">Update</a>
                    <a href="delete-recipe/{{ recipe.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    <p></p>
{% endblock %}